.container::-webkit-scrollbar {
  width: 3px;
}

.container::-webkit-scrollbar-track {
  transition: 2s all;
  background: #e6e8ea;
  border-radius: 20px;
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.container::-webkit-scrollbar-thumb {
  background: #6f80a0;
  border-radius: 20px;
  transform: matrix(0, 1, 1, 0, 0, 0);
  cursor: pointer;
}

.container::-webkit-scrollbar-thumb:hover {
}

.container {
  width: fit-content;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  max-height: 80%;
  overflow-y: auto;
}

.header,
.footer {
  padding: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.header {
  border-bottom: 1px solid #d7d8da;
}

.header .closeBtn {
  border: none;
  font-size: 12px;
  color: #667085;
  background-color: #00000000;
}

.content {
  padding-right: 1.25rem;
  border: 1px solid #d7d8da;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02px;
  color: #0b101a;
  margin-inline: 1.25rem;
}

.container label {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.container .options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.textArea {
  background: #ffffff;
  border: 1px solid #b1b4bb;
  border-radius: 8px;
  padding: 1rem;
}

.textArea:disabled {
  background: #dde0e6;
  border: 1px solid #b1b4bb;
  border-radius: 8px;
}

.footer {
  justify-content: center;
  border-top: 1px solid #d7d8da;
}

.footer > button {
  min-width: 20%;
}

.footer > button:first-child {
  margin-right: 1rem;
}
