:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "pretendard", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #222222;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  transition: 2s all;
  background: #e6e8ea;
  border-radius: 20px;
  transform: matrix(0, 1, 1, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #6f80a0;
  border-radius: 20px;
  transform: matrix(0, 1, 1, 0, 0, 0);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
}

html,
body,
* {
  box-sizing: border-box;
}

#modal {
  position: absolute;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

label,
button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
  }
  button {
  }
}
