.container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000004f;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
